html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(255, 236, 239);
}

h1 {
    font-size: 1000%;
    text-align: center;
    margin: 1em;
    color: palevioletred;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1,
.box2 {
    background-color: #ffc0cb;
    padding: 50px;
    margin: 10px;
    width: 500px;
    height: 500px;
    font-size: 1000%;
    border-radius: 10%;
    border: palevioletred solid 5px;
    position: relative;
}

.text {
    margin-bottom: 20px;
}

img {
    width: 300px;
    position: absolute;
    bottom: 10%;
    right: 10%
}

#byeimage {
    top: 10%;
    left: 10%;
}

#btn,
#removebtn {
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    padding: 5px 15px 5px 15px;
    position: absolute;
    bottom: 10%;
    border-radius: 20px;
    border: palevioletred solid 5px;
    background-color: lightcyan;
}

.formstuff {
    margin: 10px;
    font-size: 150%;
}

#urname,
#theirname {
    margin: 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border: palevioletred solid 5px;
    background-color: lightcyan;
}

.displaytext {
    font-size: 30px;
}