html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: #FDE2E7;
    color: #7D5A5A;
}

h1 {
    font-size: 1000%;
    text-align: center;
    margin-top: 1em;
    color: #7D5A5A;
}

h2 {
    text-align: center;
}

#heart {
    font-size: 1000%;
    margin: 20px;
    color: #7D5A5A;
    background: none;
    border: none;
}


.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1,
.box2 {
    background-color: #FECBD4;
    padding: 50px;
    margin: 10px;
    width: 500px;
    height: 500px;
    font-size: 1000%;
    border-radius: 10%;
    border: #FEC0CB solid 10px;
    position: relative;
}

.text {
    margin-bottom: 20px;
}

img {
    width: 300px;
    position: absolute;
    bottom: 10%;
    right: 10%
}

#byeimage {
    top: 10%;
    left: 10%;
}

#btn,
#removebtn {
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    padding: 5px 15px 5px 15px;
    position: absolute;
    bottom: 10%;
    border-radius: 20px;
    border: #FEC0CB solid 10px;
    background-color: #FFB5C2;
}

.formstuff {
    margin: 10px;
    font-size: 150%;
}

#urname,
#theirname {
    margin: 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border: #FFB5C2 solid 5px;
    background-color: #FCEDF0;
}

.displaytext {
    font-size: 30px;
}